.SectionTheHost{
  padding-bottom: 50px;
  .Register{
    display: none;
  }
}

@media(max-width: 1400px){
  .SectionTheHost{
    padding-bottom: 50px;
    .left{
      .hrLeft{
        width: 600px;
      }
    }
  }
}
@media(max-width: 1200px){
  .SectionTheHost{
    padding-bottom: 50px;
    .left{
      .hrLeft{
        width: 500px;
      }
    }
  }
}
@media(max-width: 992px){
  .SectionTheHost{
    padding: 0px 0px 20px ;
    .left{
      .hrLeft{
        width: 400px;
      }
    }
  }
}
@media(max-width: 767px){
  .SectionTheHost{
    padding: 20px 0px 20px ;
    .left{
      .hrLeft{
        width: 60%;
        margin-top: 15px;
      }
    }
  }
}
@media(max-width: 590px){
  .SectionTheHost{
    padding: 0px 0px 10px ;
    .left{
      .hrLeft{
        width: 240px;
      }
      .Register{
        display: inline;
        width: 207px;
        height: 63.41px;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}

@media(max-width: 420px){
  .SectionTheHost{
    padding: 250px 0px 0px ;
    .left{
      h1{
        font-size: 24px;
        line-height: 130%;
      }
      h2{
        font-size: 24px;
        line-height: 130%;
      }
      p{
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 29px;
        margin-right: auto;
      }
      .hrLeft{
        display: none;
      }
      .Register{
        width: 100px;
        height: 40px;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 40px;
      }
    }
  }
}